.App {
  max-width: 860px;
  margin: 40px auto;
}

button {
  background: none;
  border: 2px solid #FDF4F5;
  padding: 6px 12px;
  border-radius: 4px;
  color: #FDF4F5;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: #E8A0BF;
  color: #FDF4F5;
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

/* Add the new styles for the <p> element here */
.fancy-text {
  color: #FDF4F5;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
